.room {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    border-right: 4px solid #404145;
    border-top: 4px solid #404145;
    border-bottom: 4px solid #404145;
    background: #e4e5e7;
    background-image:url('../../../../../Assets/parquet3.png');
    box-sizing: border-box;
    cursor: crosshair;
}

.bottom-room {
    flex-direction: column-reverse;
}

.first-block {
    border-left: 4px solid #404145;
}

.last-block {
    border-right: 4px solid #404145;
}

.room-top {
    display: flex;
    justify-content: center;
    color: black;
    margin-top: -30px;
    margin-bottom: 9px;
}

.room-content {
    flex: 1;
    display: flex;
}

.room-bottom {
    display: flex;
    justify-content: center;
}

.room-door {
    width: 60px;
    height: 4px;
    background: #e4e5e7;
    margin-bottom: -4px;
}

.bottom-room .room-door {
    margin-top: -4px;
}

.bottom-room .room-top {
    margin-bottom: -30px;
    margin-top: 9px;
}