.chat {
    flex-grow: 1;
    flex: 1;
    z-index: 10;
    display: flex;
    max-width: 350px;
    background: white;
    margin-top: 1px;
    flex-direction: column;
}

.chat-messages {
    flex: 1;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
}

.chat-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.chat-controls input {
    flex: 1;
    padding: 15px;
    background: #e4e5e7;
    border: none;
    font-size: 15px;
    border-radius: 8px;
}

.chat-send {
    margin: 10px;
    width: 30px;
    color: #404145;
    cursor: pointer;
}