.hallway {
    display: flex;
    height: 120px;
    min-height: 120px;
    background: #e4e5e7;
    background-image:url('../../../../../Assets/Carpet.jpg');
    box-sizing: border-box;
    border-left: 4px solid #404145;
    border-right: 4px solid #404145;
    flex-wrap: wrap;
    cursor: default;
}

.first-block {
    border-left: 4px solid #404145;
}

.last-block {
    border-right: 4px solid #404145;
}

.hallway-square {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    min-height: 33%;
}

.hallway-square:hover {
    background: rgba(255,255,255, 0.2);
}