.settings-background {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
    z-index: 10;
    background: rgb(64, 65, 69, 0.3);
    transition: background 1s;
}

.settings-modal {
    display: flex;
    flex-direction: column;
    width: 500px;
    min-height: 50vh;
    background: white;
    border-radius: 8px;
}

.settings-top-row {
    display: flex;
    justify-content: flex-end;
}