.rooms {
    display: flex;
    flex-direction: column;
}

.rooms-row {
    display: flex;
}

.room-block-empty {
    border-top: 4px solid #404145;
    box-sizing: border-box;
    width: 200px;
    height: 300px;
}