.rooms {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: auto;
}

.rooms-row {
    display: flex;
}

.room-block-empty {
    border-top: 4px solid #404145;
    box-sizing: border-box;
    width: 200px;
    height: 300px;
}

.user-layer {
    position: absolute;
    z-index: 2;
    height: 0px;
    width: 0px;
}