.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background: #f5f5f5;
    color: #404145;
}

.loading-text {
    margin: 8px 5px;
}