.dots {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    margin: 0px 3px;
}

.dot-hourglass {
    position: relative;
    top: -15px;
    width: 10px;
    height: 10px;
    border-radius: 6px;
    background-color: #1CBF73;
    color: transparent;
    margin: -1px 0;
    transform-origin: 5px 20px;
    animation: dotHourglass 2.4s infinite ease-in-out;
    animation-delay: .6s;
  }
  
  .dot-hourglass::before, .dot-hourglass::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-radius: 6px;
    background-color: #1CBF73;
    color: transparent;
  }
  
  .dot-hourglass::before {
    top: 30px;
  }
  
  .dot-hourglass::after {
    animation: dotHourglassAfter 2.4s infinite cubic-bezier(0.65, 0.05, 0.36, 1);
  }
  
  @keyframes dotHourglass {
    0% {
      transform: rotateZ(0deg);
    }
    25% {
      transform: rotateZ(180deg);
    }
    50% {
      transform: rotateZ(180deg);
    }
    75% {
      transform: rotateZ(360deg);
    }
    100% {
      transform: rotateZ(360deg);
    }
  }
  
  @keyframes dotHourglassAfter {
    0% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(30px);
    }
    50% {
      transform: translateY(30px);
    }
    75% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(0);
    }
  }