.hallway {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 120px;
    background: #e4e5e7;
    background-image:url('../../../../../../Assets/parquet3.png');
    box-sizing: border-box;
}

.first-block {
    border-left: 3px solid #404145;
}

.last-block {
    border-right: 3px solid #404145;
}